<button type="button" [disabled]="!pager" class="btn btn-success" (click)='prePage()'>Previous</button>
<button type="button" [disabled]="pager == number_of_pages" class="btn btn-success" (click)='nextPage()'>Next</button>
Page <input [(ngModel)]="pager" (ngModelChange) = "pagerChange()" > of {{number_of_pages}}

<table class="table table-hover table-striped table-responsive">
    <thead>
        <tr>
            <th>bannerid</th>
            <th>banname</th>
            <th>bandesc</th>
            <th>filename</th>
            <th>url</th>
            <th>active</th>
            <th>expire</th>
            <th>product_tags</th>
            <th>person_tag</th>
            <th>pcat_id</th>
            <th>cpa_status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let banner of banners' [hidden]='banner.cpa_status == 1'>
            <td>{{ banner.bannerid }}</td>
            <td>{{ banner.banname }}</td>
            <td>{{ banner.bandesc }}</td>
            <td>{{ banner.filename }}</td>
            <td><a href="{{ banner.url }}">{{ banner.url }}</a></td>
            <td>{{ banner.active }}</td>
            <td>{{ banner.expire }}</td>
            <td>{{ banner.productTags }}</td>
            <td>{{ banner.personTag }}</td>
            <td>{{ banner.pcatid }}</td>
            <td>{{ banner.cpaStatus }}</td>
            <td>
                <a class="btn btn-default" href="" [routerLink]="['/edit', banner.bannerid]" role="button">Edit</a>
            </td>
        </tr>
    </tbody>
</table>

<style>
    table {
    width:100%;
    table-layout:fixed;

    }
    td {
        word-wrap:break-word;
    }
</style>