
<form action="" (ngSubmit)="updateBanner(bannerDetail)">
    <div class="form-group">
      <legend>Chỉnh sửa banner</legend>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">bannerid</label>
            <input type="text" class="form-control" id="" name="bannerid" placeholder="bannerid" [(ngModel)]="bannerDetail.bannerid">
          </div>

          <div class="form-group">
            <label for="">banname</label>
            <input type="text" class="form-control" id="" name="banname" placeholder="banname" [(ngModel)]="bannerDetail.banname">
          </div>
          <div class="form-group">
            <label for="">bandesc</label>
            <input type="text" class="form-control" id="" name="bandesc" placeholder="bandesc" [(ngModel)]="bannerDetail.bandesc">
          </div>
          <div class="form-group">
            <label for="">filename</label>
            <input type="text" class="form-control" id="" name="filename" placeholder="filename" [(ngModel)]="bannerDetail.filename">
          </div>
          <div class="form-group">
            <label for="">url</label>
            <input type="text" class="form-control" id="" name="url" placeholder="url" [(ngModel)]="bannerDetail.url">
          </div>

          <div class="form-group">
            <label for="">width</label>
            <input type="text" class="form-control" id="" name="width" placeholder="width" [(ngModel)]="bannerDetail.width">
          </div>

          <div class="form-group">
            <label for="">height</label>
            <input type="text" class="form-control" id="" name="height" placeholder="height" [(ngModel)]="bannerDetail.height">
          </div>
          <div class="form-group">
            <label for="">status</label>
            <input type="text" class="form-control" id="" name="status" placeholder="status" [(ngModel)]="bannerDetail.status">
          </div>
          <div class="form-group">
            <label for="">active</label>
            <input type="text" class="form-control" id="" name="active" placeholder="active" [(ngModel)]="bannerDetail.active">
          </div>
          <div class="form-group">
            <label for="">expire</label>
            <input type="text" class="form-control" id="" name="expire" placeholder="expire" [(ngModel)]="bannerDetail.expire">
          </div>

          <div class="form-group">
            <label for="">trg_location</label>
            <input type="text" class="form-control" id="" name="trg_location" placeholder="trg_location" [(ngModel)]="bannerDetail.trg_location">
          </div>

          <div class="form-group">
            <label for="">trg_hobby</label>
            <input type="text" class="form-control" id="" name="trg_hobby" placeholder="trg_hobby" [(ngModel)]="bannerDetail.trg_hobby">
          </div>
          <div class="form-group">
            <label for="">trg_age</label>
            <input type="text" class="form-control" id="" name="trg_age" placeholder="trg_age" [(ngModel)]="bannerDetail.trg_age">
          </div>
          <div class="form-group">
            <label for="">trg_gender</label>
            <input type="text" class="form-control" id="" name="trg_gender" placeholder="trg_gender" [(ngModel)]="bannerDetail.trg_gender">
          </div>
          <div class="form-group">
            <label for="">trg_city</label>
            <input type="text" class="form-control" id="" name="trg_city" placeholder="trg_city" [(ngModel)]="bannerDetail.trg_city">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="">trg_uweb</label>
            <input type="text" class="form-control" id="" name="trg_uweb" placeholder="trg_uweb" [(ngModel)]="bannerDetail.trg_uweb">
          </div>
          <div class="form-group">
            <label for="">trg_tag</label>
            <input type="text" class="form-control" id="" name="trg_tag" placeholder="trg_tag" [(ngModel)]="bannerDetail.trg_tag">
          </div>
          <div class="form-group">
            <label for="">trg_channel</label>
            <input type="text" class="form-control" id="" name="trg_channel" placeholder="trg_channel" [(ngModel)]="bannerDetail.trg_channel">
          </div>
          <div class="form-group">
            <label for="">trg_allchannel</label>
            <input type="text" class="form-control" id="" name="trg_allchannel" placeholder="trg_allchannel" [(ngModel)]="bannerDetail.trg_allchannel">
          </div>

          <div class="form-group">
            <label for="">review_channel</label>
            <input type="text" class="form-control" id="" name="review_channel" placeholder="review_channel" [(ngModel)]="bannerDetail.review_channel">
          </div>

          <div class="form-group">
            <label for="">accept_channel</label>
            <input type="text" class="form-control" id="" name="accept_channel" placeholder="accept_channel" [(ngModel)]="bannerDetail.accept_channel">
          </div>
          <div class="form-group">
            <label for="">product_tags</label>
            <input type="text" class="form-control" id="" name="product_tags" placeholder="product_tags" [(ngModel)]="bannerDetail.product_tags">
          </div>
          <div class="form-group">
            <label for="">create_time</label>
            <input type="text" class="form-control" id="" name="create_time" placeholder="create_time" [(ngModel)]="bannerDetail.create_time">
          </div>
          <div class="form-group">
            <label for="">comments</label>
            <input type="text" class="form-control" id="" name="comments" placeholder="comments" [(ngModel)]="bannerDetail.comments">
          </div>

          <div class="form-group">
            <label for="">person_tag</label>
            <input type="text" class="form-control" id="" name="person_tag" placeholder="person_tag" [(ngModel)]="bannerDetail.person_tag">
          </div>

          <div class="form-group">
            <label for="">pcat_id</label>
            <input type="text" class="form-control" id="" name="pcat_id" placeholder="pcat_id" [(ngModel)]="bannerDetail.pcat_id">
          </div>
          <div class="form-group">
            <label for="">suggestchannels</label>
            <input type="text" class="form-control" id="" name="suggestchannels" placeholder="suggestchannels" [(ngModel)]="bannerDetail.suggestchannels">
          </div>
          <div class="form-group">
            <label for="">channel_flag</label>
            <input type="text" class="form-control" id="" name="channel_flag" placeholder="channel_flag" [(ngModel)]="bannerDetail.channel_flag">
          </div>
          <div class="form-group">
            <label for="">ext</label>
            <input type="text" class="form-control" id="" name="ext" placeholder="ext" [(ngModel)]="bannerDetail.ext">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div style="text-align: center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
</form>
